asgiref==3.7.2
astroid==2.15.8
black==23.9.1
click==8.1.7
colorama==0.4.6
dill==0.3.7
Django==4.2.5
django-stubs==4.2.4
django-stubs-ext==4.2.2
djangorestframework==3.14.0
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
mypy==1.5.1
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.2
platformdirs==3.10.0
pycodestyle==2.11.0
pyflakes==3.1.0
pylint==2.17.6
pylint-django==2.5.3
pylint-plugin-utils==0.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
sqlparse==0.4.4
tomlkit==0.12.1
types-pytz==2023.3.1.1
types-PyYAML==6.0.12.12
typing_extensions==4.8.0
tzdata==2023.3
wrapt==1.15.0
